/*------------------- Fonts -------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pirata+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

@font-face {
    font-family: "Bebas Neue";
    src: url("/css/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Josefin Sans";
    src: url("/css/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Pirata One" ;
    src: url('/css/fonts/Pirata_One/PirataOne-Regular.ttf') format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Kanit";
    src: url("/css/fonts/Kanit/Kanit-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "kanit";
    src: url("/css/fonts/Kanit/Kanit-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "kanit";
    src: url("/css/fonts/Kanit/Kanit-Light.ttf") format("truetype");
    font-weight: 300;
}

/*------------------- Variables -------------------*/

:root {
    --bgcolor                : rgb(0, 0, 0)        ;
    --colortext-light        : #FFFFFF             ; 
    --border-color           : rgb(26, 14, 154)    ;
    --color-blue-light       : #0a5c57             ;
    --btn-blue-green-color   : #07FFDA             ;  
    --fontf-nav              : "Josefin Sans", serif ;    
    --fontf-heading          : "Bebas Neue" , serif  ;
    --fontf_special_heading  : "Pirata One", serif   ;
    --fontf_text_button      : "Kanit", serif        ;
    --text-input             : "Roboto" , serif      ;
    --fontf-text             : "Roboto", serif       ;
    
}
/*------------------- Universal Selector -------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    color: var(--colortext-light);
} 
/*----------------------- Container_Start -------------------*/
.container {
    min-height: 100vh;
    background-color: var(--bgcolor );
}
/*------------------- Container_Header_Start -------------------*/
.container header {
    height: 60px;
     /* d-flex */
    display: flex;
    justify-content: space-between;
    position: sticky;
}
header h1 a {
    /* font */
    font: 500  45px var(--fontf_special_heading);
    /* text-styling */
    text-shadow: 2px 2px 8px var(--btn-blue-green-color) , -2px -2px 8px var(--btn-blue-green-color);
    text-decoration: none;
    letter-spacing: 5px;
    color:var(--colortext-light);
    padding: 0px 15px;
    user-select: none;
}
 /* icon-menu */
 
 input[type ^="c"] {
    display: none;
    appearance: none;
}
label {
   display: none;
}  
  .bx-menu {
     position: absolute;
     font-size: 50px;   
  }
/* icon_menu_end */

header ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   /* flex */
   display: flex;
   justify-content: space-between;
   align-items: center;
}
ul li { 
  text-transform: capitalize;
  font: 800  20px var(--fontf-nav);
}
ul li a {
    text-decoration: none;
    color: #090F29;
    padding: 5px 30px 5px 10px;
    color: var(--colortext-light);
}

ul li a:hover:not(.home){
    border-left:solid 2px var(--btn-blue-green-color);
}
ul li .home{
    color:var(--btn-blue-green-color);
}

       /*------------------- Container_Header_End -------------------*/
       /*------------------------------------------------------------*/
       /*------------------- Container_Section_Start ------------------*/
.container section {
   min-height: calc(100vh - 60px);
   padding: 50px 50px 2px;
   /* d-grid */
   display: grid;
   grid-template-columns: repeat(2 , 1fr);
   grid-template-rows: repeat(5, 1fr);

}

/*-------------------------------- Container_Section_Main_Start --------------------------------*/
.container section main  {
    padding-left: 50px;
   /* grid-item*/
   grid-column: 1/2;
   grid-row:1/5;
   /* d- flex*/
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.container section main .div1 {
    font: 500 50px var(--fontf-heading);  
}
.container section main .div1  p .span1 {    
    color: #0a5c57;
}
.container section main .div1  p + p span {
    position: absolute;
    margin-left: 5px;
    display: inline-block;
    overflow: hidden;
    color:aliceblue;
}

.container section main .div1 p + p span::before {
    content: 'frond-end developer';
    font: 500 50px var(--fontf-heading) ;  
    /*position*/  
    position: absolute; 
      top: 0px;
      left: 0px;
    /* h and w*/
    height:80%;
    width: 0%;
    /*text-styling*/
    color: transparent;
    animation:Typing 1.8s cubic-bezier(1,0,0,1.01)/*cubic-bezier(0,.96,.98,1.07)*/ 2s infinite  alternate  ;
}
@keyframes Typing  {

    100% {
        background-color: black;
        width: 150%;
        -webkit-text-stroke: 0.2px var(--btn-blue-green-color);
    }
}

.container section main .contact-author .bx{
    margin: 5px  18px 15px 0px ;
    font-size: 42px;
    border-radius: 50%;
    color: #0a5c57;
    opacity: 0.8;
}
.container section main .contact-author .bx:Hover {
    color: #32fff1;
    filter: drop-shadow(1px 1px 10px var(--btn-blue-green-color)) ;
    opacity: 1;
}

.container section main button[type="button"] {
    z-index: 111;
    position: relative;
    /* h and w*/
    width: 280px;
    height: 60px;
    margin: 15px  18px 15px 0px  ;
    /* font */
    font: 500 25px var(--fontf_text_button);
    /* border and backgroud */
    background-color: #000000;
    border-radius: 50px;
    border: 2px solid var(--btn-blue-green-color);
    text-transform: uppercase;
    /* shadow */
    overflow: hidden;
    transition: box-shadow .5s;
}
section main button[type="button"] a {
    text-shadow: 4px 4px 15px var(--btn-blue-green-color),
    -4px -4px 15px var(--btn-blue-green-color) ;
    text-decoration: none;
    color:#F9F9F9;     
    padding: 15px 25px;
    z-index: 2;
}
section  main button[type="button"]::before {
    content: '';
    /*position*/
    position: absolute;
    top:58.5px;
    left: 0px;
    z-index: -1;
    /*w and h*/
    width: 100%;
    height: 100%;
    /* border and backgroud */
    background-color: var(--btn-blue-green-color);
    border-radius: inherit;
   transition: all .6s ease 0s;
}
section main button[type="button"]:hover {
    translate: 0px -5px;
    border: none;
     
}
section main button[type="button"]:hover a {
    color: #000000;
    text-shadow: 3px 3.2px 8px var(--color-blue-light) ;
}
section  button[type="button"]:hover::before {
    top:0px;
}
/*-------------------------------- Container_Section_Main_end --------------------------------*/
/*--------------------------------------------------------------------------------------------*/
/*-------------------------------- Container_Section_Aside_Start --------------------------------*/
.container section aside  {
    /*grid-item*/
    grid-column: 2/3;
    grid-row:1/5;
    /*display-flex*/
    display: flex;
    z-index: 5; 
}

.container section aside div {
    position: relative;
    /* h and w*/
    width:  400px;
    height: 400px;
    border-radius: 50%;
    margin: auto;
}
.container section aside div img {
    border-radius: 50%;
    user-select: none;
    cursor: grab;
    width: 500px;
    height: 500px;
}
.container section aside div::before {
    content: '';
    /* position */
    position: absolute;
    top: -2.5px;
    left: -2.5px;
    /* h and w*/
    width: 400px;
    height: 400px;
    /* border and backgroud*/
    border-radius: 50%;
    border: 3px solid rgb(0, 128, 128);    
    background-image: conic-gradient( rgb(7, 101, 95), rgb(6, 226, 193) ,rgb(27, 139, 103) 
    ,rgb(44, 128, 114) , rgb(26, 91, 86)   );
    box-shadow:  5px 0px 10px 0px rgb(4, 159, 149) ,  -5px  -0px 10px 0px  rgb(4, 159, 149)  ,
                 0px 5px 10px 0px  rgb(4, 159, 149),  0px  -5px 10px 0px  rgb(4, 159, 149) , 
                 10px 0px 70px 0px  rgb(4, 159, 149),  -10px  -0px 60px 0px  rgb(4, 159, 149) ,
                 0px 10px 20px 0px  rgb(4, 159, 149) ,  0px  -10px 20px 0px  rgb(4, 159, 149) ;
    z-index: -1;
    animation: rotate 1s linear 0s infinite normal running;
}  
 @keyframes rotate {
    100% {
        rotate: 360deg;
    } 
 }
.container section aside div:active::before {
    animation-play-state: paused;
}
.container section aside div:hover::before {
    box-shadow:  5px 0px 10px 0px  rgb(3, 114, 107) ,  -5px  -0px 10px 0px  rgb(3, 113, 106)  ,
                 0px 5px 10px 0px   rgb(3, 114, 107),  0px  -5px 10px 0px  rgb(3, 114, 107) , 
                 10px 0px 70px 0px   rgb(3, 114, 107),  -10px  -0px 60px 0px  rgb(3, 114, 107) ,
                 0px 10px 20px 0px   rgb(3, 114, 107) ,  0px  -10px 20px 0px   rgb(3, 114, 107) ;
                 border: 3px solid #05cdaf;
}
/*-------------------------------- Container_Section_Aside_End --------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*-------------------------------- Container_Section_Footer_Start --------------------------------*/
.container section footer {
    /*grid-item*/
    grid-row: 5/-1;
    grid-column:1/-1 ;
    /* d-flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* p and m*/
    padding: 0px 0px;
    margin: 10px 0px 10px 40px;
    perspective: 200px;
 }
 .container section footer div input[type="email"] {
    /* h and w */
    width: 20em;
    height: 60px;
    /* text-styling*/
    text-indent: 20px;
    color: #FFFFFF;
    font-size: 25px;
    /* border and background*/
    border: solid var(--border-color) 2px;
    border-radius: 50px;
    background-color: black;
   font-family: var(--text-input);
}

.container section footer input::placeholder {
  text-transform: capitalize;

}
.container section.section1  div.d-footer input[type $="l"]:focus {
    outline-style: none;
    caret-color: var(--btn-blue-green-color);
}
 .container section.section1 div.d-footer input[type $="t"] {
     cursor: pointer;
     margin-left: 10px;
     /*border and background*/  
     border: 1px solid var(--color-blue-dark);
     border-radius: 40px;
     background-color: rgb(62, 62, 226);
     /*shadow*/
     text-shadow: 5px 5px 5px  BLACK ,
                  -5px -5px 10px black;
      /*font*/
     font: 200 2rem var(--fontf_text_button);
      /*text-styling*/
     color: #F9F9F9;
     text-transform: capitalize;
     /*h and w*/
     width: 4.5em ;
     height: 1.9em;

    }
    .container section.section1  div.d-footer input[type $="t"]:hover {
      font-weight: 300 ;
    }
/*-------------------------------- Container_Section_Footer_End --------------------------------*/
/*------------------- Container_Section_End -------------------*/ 
/*------------------- Container_End -------------------*>*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  
        /*+++===+++===+++===+++===+++===+++===  Responsive_Media +++===+++===+++===+++===+++===+++===*/

/* ===================== Mobile_Devices [320px - 767px] ===================== */
  /*-=-=-=-=-= Small_phones { 320px -----------------> 480px} -=-=-=-=-=-=-=*/
  @media (min-width:320px) and (max-width:480px) {
    /* scroll-bar  */

::-webkit-scrollbar {
        width: 0px;
}

/*----------------------- Container_Start ----------------------*/
    /*----------------------- Container_Header_Start ----------------------*/
/*------------------- Container_Header_Start -------------------*/
.container header {
    background-color: black;
    z-index: 9;
    position:  sticky;
    top: 0px;
    height: 50px;
}
header h1 a {
    display: none;

}
 /* icon-menu */
label {
    display: block;
}  

.bx-menu {
    font-size: 50px;
    position: fixed;
    right: 8px;
}
/* icon_menu_end */

header ul {
    z-index: 999999;
    background-color:#FFFFFF;   
    position:fixed;
    top: 50px;
    right: -100%;
    width: 100%;
    height: 19em;
    transition:.8s all;
    display:block;
    z-index: 1;
}
input:checked ~ ul {
    right:0px;
 }
ul li { 
    text-align: center ;
    font-size: 30px;   
    font-family: var(--fontf-text);
}
ul li a {
    color: black;
    display: block;
    padding: 20px 0px ;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: none;
}

ul li .home{
    color: #0fc2a7;
    border-left: 5px solid #037973;
}

       /*------------------- Container_Header_End -------------------*/
       /*------------------------------------------------------------*/
       /*------------------- Container_Section_Start ------------------*/
.container section {
    padding: 10px ;
    /* d-grid */
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 300px auto 140px ;
    gap: 10px;
}
/*-------------------------------- Container_Section_Main_Start --------------------------------*/
.container section main  {
    padding-left: 30px;
    margin-top: 0px  10px  0px;
   /* grid-item*/
   grid-column: 1/-1;
   grid-row:2/3;
   /* d- flex*/
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.container section main .div1 {
    white-space: wrap;
    font: 500 31px/1.8 var(--fontf-heading);
}
.container section main .div1  p .span1 {    
    color: #0a5c57;
}

.container section main .div1 p + p span::before {
    animation:Tying 1.8s cubic-bezier(1,0,0,1.01)/*cubic-bezier(0,.96,.98,1.07)*/ 2s infinite  alternate paused;
}

.container section main .contact-author .bx{
    margin: 5px  18px 15px 0px ;
    font-size: 40px;
    color: #32fff1;
    opacity: 1;
}
.container section main button[type="button"] {
    z-index: 1;
    /* h and w*/
    width: 260px;
    height: 60px;
    margin: 15px  18px 15px 0px  ;
    /* font */
    font: 500 24px var(--fontf_text_button);
}

/*-------------------------------- Container_Section_Main_end --------------------------------*/
/*--------------------------------------------------------------------------------------------*/
/*-------------------------------- Container_Section_Aside_Start --------------------------------*/
.container section aside  {
    /*grid-item*/
    grid-column: 1/-1;
    grid-row:1/2;
    /*display-flex*/
    z-index: 5; 
    margin: 0px;
    display: grid;
    place-items: center;
    height: 300px;
}

.container section aside div {
    position: relative;
    /* h and w*/
    width:  240px;
    height: 240px;
    border-radius: 50%;
}
.container section aside div img {

    width: 240px;
    height: 240px;
}
.container section aside div::before {
    content: '';
    /* h and w*/
    width: 240px;
    height: 240px;
    /* border and backgroud*/
    box-shadow:  5px 0px 10px 0px rgb(9, 213, 199) ,  -5px  -0px 10px 0px  rgb(9, 213, 199)  ,
                 0px 5px 10px 0px rgb(9, 213, 199) ,  0px  -5px 10px 0px rgb(9, 213, 199) , 
                 8px 0px 50px 0px  rgb(9, 213, 199) ,  -8px  -0px 50px 0px rgb(9, 213, 199) ,
                 0px 8px 20px 0px  rgb(9, 213, 199) ,  0px  -8px 20px 0px  rgb(9, 213, 199) ;
    z-index: -1;
}  
.container section aside div:hover::before {
    box-shadow:  5px 0px 10px 0px  rgb(3, 114, 107) ,  -5px  -0px 10px 0px  rgb(3, 113, 106)  ,
                 0px 5px 10px 0px   rgb(3, 114, 107),  0px  -5px 10px 0px  rgb(3, 114, 107) , 
                 10px 0px 70px 0px   rgb(3, 114, 107),  -10px  -0px 60px 0px  rgb(3, 114, 107) ,
                 0px 10px 20px 0px   rgb(3, 114, 107) ,  0px  -10px 20px 0px   rgb(3, 114, 107) ;
                 border: 3px solid #05cdaf;
}
/*-------------------------------- Container_Section_Aside_End --------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*-------------------------------- Container_Section_Footer_Start --------------------------------*/
.container section footer {
    /*grid-item*/
    grid-row: 3/4;
    grid-column:1/-1;
    width: 95%;
    /* d-flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* p and m*/
    padding: 0px 0px;
    margin:  0px auto;
    padding-right: 0px;
 }
 .container section footer div input[type="email"] {
    /* h and w */
    width: 100%;
    height: 60px;
    /* text-styling*/
    text-indent: 10px;
    font-size: 25px;
    margin-bottom: 10px;
    /* border and background*/
    border: solid var(--border-color) 2px;
    border-radius: 0px;
   font-family: var(--text-input);
}
 .container section.section1 div.d-footer input[type $="t"] {
     margin-left: 0px;
     /*border and background*/  
     border: none;
     border-radius: 40px;
      /*font*/
     font: 200 30px var(--fontf_text_button);
     /*h and w*/
     width: 40%;
     margin-left:30%;
     height: 55px;
}
/*-------------------------------- Container_Section_Footer_End --------------------------------*/
/*------------------- Container_Section_End -------------------*/ 
/*------------------- Container_End -------------------*>*/   
} 
         /*-=-=-=-=-= Medium_phones { 481px -----------------> 767px} -=-=-=-=-=-=*/

@media (min-width:481px) and (max-width:768px) {
    /* scroll-bar  */

    ::-webkit-scrollbar {
        width: 0px;
}

/*----------------------- Container_Start ----------------------*/
    /*----------------------- Container_Header_Start ----------------------*/
/*------------------- Container_Header_Start -------------------*/
.container header {
    background-color: black;
    z-index: 9;
    position:  sticky;
    top: 0px;
    height: 50px;
}
header h1 a {
    /* font */
    font: 500  40px var(--fontf_special_heading);
}
 /* icon-menu */
label {
    display: block;
}  

.bx-menu {
    font-size: 50px;
    position: fixed;
    right: 8px;
}
/* icon_menu_end */

header ul {
    z-index: 999999;
    background-color:#FFFFFF;   
    position:fixed;
    top: 50px;
    right: -100%;
    width: 100%;
    height: 19em;
    transition:.8s all;
    display:block;
    z-index: 1;
}
input:checked ~ ul {
    right:0px;
 }
ul li { 
    text-align: center ;
    font-size: 30px;   
    font-family: var(--fontf-text);
}
ul li a {
    color: black;
    display: block;
    padding: 20px 0px ;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: none;
}

ul li .home{
    color: #0fc2a7;
    border-left: 5px solid #037973;
}

       /*------------------- Container_Header_End -------------------*/
       /*------------------------------------------------------------*/
       /*------------------------------------------------------------*/
       /*------------------- Container_Section_Start ------------------*/
.container section {
        padding: 10px ;
        /* d-grid */
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 390px auto 140px ;
        gap: 10px;
}
    /*-------------------------------- Container_Section_Main_Start --------------------------------*/
.container section main  {
        padding-left: 30px;
        margin-top: 0px  10px  0px;
       /* grid-item*/
       grid-column: 1/-1;
       grid-row:2/3;
       /* d- flex*/
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
}
.container section main .div1 {
        white-space: wrap;
        font: 500 43px/1.8 var(--fontf-heading);
}
.container section main .div1  p .span1 {    
        color: #0a5c57;
}
    
.container section main .div1 p + p span::before {
        animation:Tying 1.8s cubic-bezier(1,0,0,1.01)/*cubic-bezier(0,.96,.98,1.07)*/ 2s infinite  alternate paused;
}
    
.container section main .contact-author .bx{
        margin: 5px  18px 15px 0px ;
        font-size: 40px;
        color: #32fff1;
        opacity: 1;
}
.container section main button[type="button"] {
        z-index: 1;
        /* h and w*/
        height: 60px;
        margin: 15px  18px 15px 0px  ;
        /* font */
        font: 500 25px var(--fontf_text_button);
}
    
    /*-------------------------------- Container_Section_Main_end --------------------------------*/
    /*--------------------------------------------------------------------------------------------*/
    /*-------------------------------- Container_Section_Aside_Start --------------------------------*/
.container section aside  {
        /*grid-item*/
        grid-column: 1/-1;
        grid-row:1/2;
        /*display-flex*/
        z-index: 5; 
        margin: 0px;
        display: grid;
        place-items: center;
        height: 380px;
}    
.container section aside div {
        position: relative;
        /* h and w*/
        width:  300px;
        height: 300px;
        border-radius: 50%;
}
.container section aside div img {
    
        width: 300px;
        height: 300px;
}
.container section aside div::before {
        content: '';
        /* h and w*/
        width: 300px;
        height: 300px;
        /* border and backgroud*/
        box-shadow:  5px 0px 10px 0px rgb(9, 213, 199) ,  -5px  -0px 10px 0px  rgb(9, 213, 199)  ,
                     0px 5px 10px 0px rgb(9, 213, 199) ,  0px  -5px 10px 0px rgb(9, 213, 199) , 
                     8px 0px 50px 0px  rgb(9, 213, 199) ,  -8px  -0px 50px 0px rgb(9, 213, 199) ,
                     0px 8px 20px 0px  rgb(9, 213, 199) ,  0px  -8px 20px 0px  rgb(9, 213, 199) ;
        z-index: -1;
}  
    /*-------------------------------- Container_Section_Aside_End --------------------------------*/
    /*---------------------------------------------------------------------------------------------*/
    /*-------------------------------- Container_Section_Footer_Start --------------------------------*/
.container section footer {
        /*grid-item*/
        grid-row: 3/4;
        grid-column:1/-1;
        width: 95%;
        /* d-flex*/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* p and m*/
        padding: 0px 0px;
        margin:  0px 0px 0px 25px;
        padding-right: 0px;
}
.container section footer div input[type="email"] {
        /* h and w */
        width: 70%;
        margin-bottom: 10px;
        /* border and background*/
        border: solid var(--border-color) 2px;
        border-radius: 0px;
       font-family: var(--text-input);
    }
.container section.section1 div.d-footer{
        width: 100%;
}
.container section.section1 div.d-footer input[type $="t"] {
         margin-left: 0px;
         /*border and background*/  
         border: none;
         border-radius: 40px;
          /*font*/
         font: 200 35px var(--fontf_text_button);
         /*h and w*/
         width: 120px;
         height: 60px;
}    
}

/* ===================== Tablets_Devices [768px – 1280px] ===================== */
        /*-=-=-=-=-=-=-=-=   Portrait mode { 768px -----------------> 1024px}    -=-=-=-=-=-=-=*/
@media (min-width:768px) and (max-width:1024px)  {
  /*------------------------------------------------------------*/
      
  
   /* scroll-bar  */

   ::-webkit-scrollbar {
    width: 0px;
}

/*----------------------- Container_Start ----------------------*/
/*----------------------- Container_Header_Start ----------------------*/
/*------------------- Container_Header_Start -------------------*/
.container header {
    background-color: black;
    z-index: 9;
    position:  sticky;
    top: 0px;
    height: 50px;
}
    header h1 a {
    /* font */
    font: 500  40px var(--fontf_special_heading);
    }
/* icon-menu */
label {
    display: block;
}  

.bx-menu {
  font-size: 50px;
  position: fixed;
  right: 8px;
}
/* icon_menu_end */

header ul {
   z-index: 999999;
   background-color:#FFFFFF;   
   position:fixed;
   top: 50px;
   right: -100%;
   width: 100%;
   height: 19em;
   transition:.8s all;
   display:block;
   z-index: 1;
}
input:checked ~ ul {
   right:0px;
}
ul li { 
   text-align: center ;
   font-size: 30px;   
   font-family: var(--fontf-text);
}
ul li a {
   color: black;
   display: block;
   padding: 20px 0px ;
   text-align: center;
   letter-spacing: 5px;
   text-decoration: none;
}

ul li .home{
   color: #0fc2a7;
   border-left: 5px solid #037973;
}

   /*------------------- Container_Header_End -------------------*/
   /*------------------------------------------------------------*/

  
  
  
  /*------------------- Container_Section_Start ------------------*/
      
      
      
.container section {
    min-height: calc(100vh - 60px);
    padding: 50px 0px 2px;
    /* d-grid */
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 90px;
     }
     /*-------------------------------- Container_Section_Main_Start --------------------------------*/
     .container section main  {
     padding-left: 50px;
    /* grid-item*/
    grid-column: 1/-1;
    grid-row:2/4;
    /* d- flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5; 
}
.container section main .div1 {
    font: 500 72px/1.6 var(--fontf-heading);  
  
}

.container section main .div1 p + p span::before {
    content: 'frond-end developer';
    font: 500 72px/1.6 var(--fontf-heading) ;  
    animation:Typing 1.8s cubic-bezier(1,0,0,1.01)/*cubic-bezier(0,.96,.98,1.07)*/ 2s infinite  alternate  ;
}        
     .container section main button[type="button"] {
    z-index: 111;
    position: relative;
    /* h and w*/
    width: 300px;
    height: 65px;
    font: 500 28px var(--fontf_text_button);
  
}
section  main button[type="button"]::before {
        top:63.5px;
}

     /*-------------------------------- Container_Section_Main_end --------------------------------*/
     /*--------------------------------------------------------------------------------------------*/
     /*-------------------------------- Container_Section_Aside_Start --------------------------------*/
.container section aside  {
    /*grid-item*/
    grid-column: 1/2;
    grid-row:1/2;
}
     
.container section aside div {
    /* h and w*/
    width:  390px;
    height: 390px;
    z-index: 1;
}
.container section aside div img {
    width: 390px;
    height: 390px;
    z-index: 1;
}
.container section aside div::before {
    /* h and w*/
    width: 390px;
    height: 390px;
     }  
     
     /*-------------------------------- Container_Section_Aside_End --------------------------------*/
     /*---------------------------------------------------------------------------------------------*/
     /*------------------------------------ footer  ------------------------------------------------*/
.container section footer {
    /*grid-item*/
    grid-row: 4/5;
    grid-column:1/-1 ;
}

}
 /*-=-=-=-=-=-=-=-=   Landscape mode: { 1024px -----------------> 1280px}    -=-=-=-=-=-=-=*/
@media (min-width:1024px) and (max-width:1280px) {
    /* There is no change in this screen */

}


 /*~---------------------------------    Finished!  ---------------------------------~*/
