/*------------------- Fonts -------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pirata+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: Bebas;
    src: url("/css/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: Josefin;
    src: url("/css/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
    font-family: Kanit;
    src:  url("/css/fonts/Kanit/Kanit-SemiBold.ttf") format("truetype") ;
    font-weight: 600; 
    
}
@font-face {
    font-family: Kanit;
    src:  url("/css/fonts/Kanit/Kanit-Light.ttf") format("truetype") ;
    font-weight: 300; 
    
}
@font-face {
    font-family: Kanit;
    src:  url("/css/fonts/Kanit/Kanit-Thin.ttf") format("truetype") ;
    font-weight: 100; 
}
@font-face {
    font-family: Pirata ;
    src: url('/css/fonts/Pirata_One/PirataOne-Regular.ttf') format("truetype");
    font-weight: 700;
} 

/*------------------- Variables -------------------*/
:root {
    --bgcolor                : rgb(0, 0, 0)     ;
    --colortext-light        : #FFFFFF             ; 
    --border-color           : rgb(26, 14, 154)    ;
    --color-blue-light       : #037973             ;
    --color-blue             : #111fba             ;
    --btn-blue-green-color   : #07FFDA             ;  
    --fontf-heading          : "Bebas Neue" , serif  ;
    --fontf-nav              : "Josefin Sans", serif ;
    --fontf_text_button      : "Kanit", serif        ;
    --fontf_special_heading: "Pirata One", serif;
    --fontf-text             : "Roboto", serif       ;
}
/* scroll-bar  */
::-webkit-scrollbar {
    width: 15px; 
}
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: #0fc2a7 ;
    height: 300px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:var(--color-blue-light);
}
/*------------------- Universal Selector -------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    color: var(--colortext-light);
} 
    /*----------------------- Container_Start -------------------*/
.container {
    overflow-x: hidden;
    height: 100vh;
    background-color:var(--bgcolor);
}
    /*------------------- Container_Header_Start -------------------*/
.container header {

    height: 60px;
     /* d-flex */
    display: flex;
    justify-content: space-between;
}
header h1 a {
    /* font */
    font: 800 45px var(--fontf_special_heading);
    /* text-styling */
    text-shadow: 2px 2px 8px var(--btn-blue-green-color), -2px -2px 8px var(--btn-blue-green-color);
    text-decoration: none;
    letter-spacing: 5px;
    color: var(--colortext-light);
    padding: 0px 15px;
    user-select: none;
}
 /* icon-menu */
 
 input[type ^="c"] {
      display: none;
      appearance: none;
 }
 label {
     display: none;
  }  
    .bx-menu {
       position: absolute;
       font-size: 50px;   
    }
 /*  icon_menu_end */
header ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   /* flex */
   display: flex;
   justify-content: space-between;
   align-items: center;
}
ul li { 
  text-transform: capitalize;
  font: 800  20px var(--fontf-nav);
}
ul li a {
    text-decoration: none;
    padding: 5px 30px 5px 10px;
    color: var(--colortext-light);
}

ul li a:hover:not(.legal){
    border-left:solid 2px var(--btn-blue-green-color);
}
ul li .legal{
    color:var(--btn-blue-green-color);
}
       /*------------------- Container_Header_End -------------------*/
       /*------------------------------------------------------------*/
       /*------------------- Container_Main_Start ------------------*/
       
main {
    background-color: rgba(240, 255, 255, 0.03);
    /*padding and margin*/
    padding-bottom: 15px;
    margin: 15px auto 0px;
    /*width and height*/
    width: 65%;
    height: 88vh;
    /*d-grid*/
    display: grid;
    grid-template-rows: 1fr auto;
}

main div h1 {
    color: rgb(0, 0, 255);
    font: 600 40px  var(--fontf_text_button) ;
    text-indent: 20px;
    position: relative;
}
main div h1::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 8px;
    height: 95%;
    background-color: rgb(8, 188, 201);
    
}
       /*-----------------  Paragraphs_Main_Start ----------------*/
main div p {
    text-indent: 20px;
    margin: 15px 0px;
    font:100  20px/2 var(--fontf_text_button);
}
.p1 {
    font-weight: 300;
}
main div .p1 ~ p{
   text-indent: 80px;
}
main div p a{
    text-decoration: none;
    margin-left:15px ;
    text-indent: 20px;
    color: #14e9c9;
    transition: all .5s;
}
main div p a:hover {
    font-size: 22px;

}
          /*--------------Paragraphs_Main_End----------------*/
img{
    width: 20px;
    vertical-align: middle;
}
iframe {
    display: block;
    margin:55px auto 0px;
    height: 200px;
    width: 100%;
}
   /*------------------- Container_Main_End -----------------------*/
   /*---------------------------------------------------------------*/
   /*------------------- Start_Container_Footer -------------------*/
       
       
footer h1  {
    letter-spacing: 5px;
    font-family: var(--fontf-heading);
    text-align: center;
}
footer b {
    color: var(--color-blue-light);
}
   /*------------------- Container_Footer_End -------------------*/ 
/*------------------- Container_End -------------------*>*/
  
/*+++===+++===+++===+++===+++===+++===  Responsive_Media +++===+++===+++===+++===+++===+++===*/

 /* ===================== Mobile_Devices [320px - 767px] ===================== */
  /*-=-=-=-=-= Small_phones { 320px -----------------> 480px} -=-=-=-=-=-=-=*/
@media (min-width:320px) and (max-width:480px) {
   /* scroll-bar  */

::-webkit-scrollbar {
    width: 0px;
}
    /*----------------------- Container_Start ----------------------*/
       /*----------------------- Container_Header_Start ----------------------*/
    .container header {
       background-color: black;
       z-index: 9;
       position:  sticky;
       top: 0;
       height: 50px; 
    }
    .container header h1  {
        display: none;
    }
    label {
        display: block;
    }
    .bx-menu {
        position: fixed;
        right: 8px;
    }
.container header ul {  
        background-color:#FFFFFF;   
       position:fixed;
       top: 50px;
       right: -30em;
       width: 100%;
       height: 17.6em;
       transition:.8s all;
       display:block;
       z-index: 1;
}
    .container header ul li {
        text-align: center ;
        font-size: 25px;
        font-family: var(--fontf-text);
        
} 
    .container header ul li a {
        color: black;
        display: block;
        padding: 20px 0px ;
        text-align: center;
        letter-spacing: 5px;
        text-decoration: none;
    }
.container header ul li a.legal {
        color: #0fc2a7;
        border-left: 5px solid #037973;
}
input:checked ~ ul {
        right: 0px;
}   

          /*------------------- Container_Header_End -------------------*/
       /*------------------------------------------------------------*/
       /*------------------- Container_Main_Start ------------------*/
    .container main  {        
        /*width and height*/
        width: 90%;
        height: 100vh;
         /*d-grid*/
         display: grid;
         grid-template-rows: auto auto;
    }
    main div h1 {
        letter-spacing: 1px;
        font: 500 30px  var(--fontf_text_button);
        text-indent: 10px;
    }
    main div h1::before{
        /* width and height*/
        width: 5px;
        height: 90%;
    }
    main div p {
        text-indent: 20px;
        margin: 15px 0px;
        font: 300 16px/2 var(--fontf_text_button);
    }
 
    main div .p1 ~ p{
       text-indent: 5px;
       font-size: 15px;
    }
    main div p a{
        margin-left:0px ;
        text-indent: 0px;
       
    }
    main div p a:hover {
        font-size: 17px;
    
    }
              /*--------------Paragraphs_Main_End----------------*/
  
     iframe {
        margin:50px auto  15px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        outline: #0a5c57 solid 3px;
    }  
     /*------------------- Container_Main_End -----------------------*/
   /*---------------------------------------------------------------*/
   /*------------------- Container_Footer_Start -------------------*/
footer h1 {
    letter-spacing: 2px;
    font-size: 20px;
}
   /*------------------- Container_Footer_End -------------------*/ 
/*------------------- Container_End -------------------*>*/
}

         /*-=-=-=-=-= Medium_phones { 481px -----------------> 767px} -=-=-=-=-=-=*/



@media (min-width:481px) and (max-width:768px) {
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    /*----------------------- Container_Start ----------------------*/
       /*----------------------- Container_Header_Start ----------------------*/
       .container header {
        background-color: black;
        z-index: 9;
       position:  sticky;
       top: 0;
       height: 50px; 
    }
.container header h1  {
            font: 800  40px var(--fontf_special_heading);
}
    label {
        display: block;
    }
    .bx-menu {
        position: fixed;
        right: 8px;
    }
    .container header ul {  
        background-color:#FFFFFF;   
       position:fixed;
       top: 50px;
       right: -100%;
       width: 100%;
       height: 19em ;
       transition:.8s all;
       display:block;
       z-index: 1;
    }
    input:checked ~ ul {
        right:0px;
    }   
    .container header ul li {
        text-align: center ;
        font-size: 30px;
        font-family: var(--fontf-text);
        
    } 
    .container header ul li a {
        color: black;
        display: block;
        padding: 20px 0px ;
        text-align: center;
        letter-spacing: 5px;
        text-decoration: none;
    }
    .container header ul li a.legal {
        color: #0fc2a7;
        border-left: 5px solid #037973;
    }
          /*------------------- Container_Header_End -------------------*/
       /*------------------------------------------------------------*/
       /*------------------- Container_Main_Start ------------------*/
  
    .container main  {        
        /*width and height*/
        width: 90%;
        height: 100vh;
        
    }
    main div h1 {
        font: 500 35px  var(--fontf_text_button);
        text-indent: 10px;
    }
    
    main div h1::before{
        /* width and height*/
        width: 5px;
        height: 90%;
    }
    main div p {
        text-indent: 20px;
        margin: 15px 0px;
        font:  18px/2 var(--fontf_text_button);
    }
 
    main div .p1 ~ p{
       text-indent: 35px;
       font-size: 20px;
    }
    main div p a{
        margin-left:0px ;
        text-indent: 0px;
       
    }
 
              /*--------------Paragraphs_Main_End----------------*/
  
     iframe {
     
        margin: 20px  auto ;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        outline: #0a5c57 solid 3px;
    }  
     /*------------------- Container_Main_End -----------------------*/
   /*---------------------------------------------------------------*/
   /*------------------- Container_Footer_Start -------------------*/
       
footer h1 {
   
    letter-spacing: 3px;
    margin-top:20px 0px  ;
    font-size: 28px;
 }

}

/* ===================== Tablets_Devices [768px – 1280px] ===================== */
        /*-=-=-=-=-=-=-=-=   Portrait mode { 768px -----------------> 1024px}    -=-=-=-=-=-=-=*/
@media (min-width:768px) and (max-width:1024px) {
    /* scroll-bar */
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
/*----------------------- Container_Start ----------------------*/
   /*----------------------- Container_Header_Start ----------------------*/
   .container header {
    background-color: black;
    z-index: 9;
   position:  sticky;
   top: 0;
   left: 0PX;
   height: 60px; 
 }

label {
    display: block;
 }

.bx-menu {
    font-size: 60px;
    position: fixed;
    right: 8px;
 } 

.container header ul {  
    background-color:#FFFFFF;   
   position:fixed;
   top: 60px;
   right: -100%;
   width: 100%;
   height: 17.6em;
   transition:.8s all;
   display:block;
   z-index: 1;
 }

input:checked ~ ul {
    right:0px;
 }

.container header ul li {
    text-align: center ;
    font-size: 30px;   
    font-family: var(--fontf-text);
    
 } 

.container header ul li a {
    color: black;
    display: block;
    padding: 20px 0px ;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: none;
}

.container header ul li a.legal {
    color: #0fc2a7;
    border-left: 5px solid #037973;
}
      /*------------------- Container_Header_End -------------------*/
   /*------------------------------------------------------------*/
   /*------------------- Container_Main_Start ------------------*/

  .container main {
 
    /*width and height*/
    width: 80%;
    height: 90vh;
 
}

main div h1 {
    font: 500 38px  var(--fontf_text_button);
    text-indent: 10px;
 }

main div h1::before{
    /* width and height*/
    width: 5px;
    height: 90%;
 }

main div p {
    text-indent: 20px;
    margin: 15px 0px;
    font:  22px/2 var(--fontf_text_button);
 }

main div .p1 ~ p{
   font-size: 23px;
   text-indent: 60px;
 }

main div p a{
    margin-left:0px ;
    text-indent: 0px;     
 }

main div p a:hover {
    font-size: 25px;
 }

          /*--------------Paragraphs_Main_End----------------*/

 iframe {
 
    margin: 40px  auto  ;
    height: 380px;
    width: 380px;
    border-radius: 50%;
    outline: #0a5c57 solid 3px;
 }

 /*------------------- Container_Main_End -----------------------*/
/*---------------------------------------------------------------*/
/*------------------- Container_Footer_Start -------------------*/
footer h1 {
    margin-bottom: 50px;
letter-spacing: 2px;
font-size: 35px;
 }
}
/*-=-=-=-=-=-=-=-=   Landscape mode: { 1024px -----------------> 1280px}    -=-=-=-=-=-=-=*/
@media (min-width:1024px) and (max-width:1280px) {
    /* There is no change in this screen */

}

 /*~--------------------------------- Finished! Thanks for reading ✌ ---------------------------------~*/