/*------------------------------------ Fonts -----------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Secular+One&family=Teko:wght@300..700&display=swap');
/*
*/
@font-face {
    font-family: "Josefin Sans";
    src: url("/css/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Pirata One";
    src: url("/css/fonts/Pirata_One/PirataOne-Regular.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "kanit";
    src: url('/css/fonts/Kanit/Kanit-Light.ttf') format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "kanit";
    src: url('/css/fonts/Kanit/Kanit-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: "kanit";
    src: url('/css/fonts/Kanit/Kanit-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: "Teko";
    src: url("/css/fonts/Teko/Teko-VariableFont_wght.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url("/css/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Secular One";
    src: url("/css/fonts/Secular_One/SecularOne-Regular.ttf");
    font-weight: 500;
}
/* FOR VARIABLE CSS */
:root {
    --bgcolor                : rgb(0, 0, 0)        ;
    --colortext-light        : #FFFFFF             ; 
    --color-blue-light       : #09b1a6             ;
    --btn-blue-green-color   : #07FFDA             ;  
    --fontf-nav              : "Josefin Sans", serif ;
    --fontf-text             : "Roboto", serif       ;
    --fontf-heading          : "Bebas Neue" , serif  ;
    --fontf_special_heading  : "Pirata One", serif   ;
    --fontf_text_button      : "Kanit", serif        ;
    --font-nav-aside         : "Teko", serif         ;
    --font-heading           : "Montserrat", serif   ;
    --font-heading-s         : "Secular One", serif  ;
}
/*--------- scroll-bar --------- */
::-webkit-scrollbar {
    width: 15px; 
}
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: #07FFDA ;
    height: 300px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#0fc2a7;
}
::-webkit-scrollbar-thumb:active {
    background-color: #098078;
}
/*------------------- Universal Selector -------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    color: var(--colortext-light);
} 
/*----------------------- Container_Start -------------------*/
.container {
    min-height: 100vh;
    background-color: var(--bgcolor);    
}
/*------------------- Container_Header_Start -------------------*/
.container header {
    z-index: 15551;
    background-color: var(--bgcolor);
    position: sticky !important;
    top: 0px;
    border-bottom: 5px solid black;
    width: 100%;
    height: 60px;
     /* d-flex */
    display: flex;
    justify-content: space-between;
}
header h1 a {
    /* font */
    font: 500  45px var(--fontf_special_heading);
    /* text-styling */
    text-shadow: 2px 2px 8px var(--btn-blue-green-color) , -2px -2px 8px var(--btn-blue-green-color);
    text-decoration: none;
    letter-spacing: 5px;
    color:var(--colortext-light);
    padding: 0px 15px;
    user-select: none;
}
/* icon-menu */
 
input[type ^="c"] {
    display: none;
    appearance: none;
}
header label {
   display: none;
}  
.bx-menu {
    position: fixed;
    right: 8px;
    top: 5px;
    font-size: 50px;   
}
/*  icon_menu_end */
header > ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   /* flex */
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

header > ul  li { 
  text-transform: capitalize;
  font: 800  20px var(--fontf-nav);
}


header > ul li  a {
    text-decoration: none;
    padding: 5px 40px 5px 10px;
    color: var(--colortext-light);    
}
ul li a:hover:not(.service){
    border-left:solid 2px var(--btn-blue-green-color);    
}

ul li .service{
    color:var(--btn-blue-green-color);
   
}

    /*------------------- Container_Header_End -------------------*/
    /*------------------------------------------------------------*/
    /*------------------- Container_parent_Start ------------------*/
.parent {
   min-height: calc(100vh - 60px );
}
/*--------------- Section_Heading(h1)_Start------------------*/
.parent section > h1  {
    /* position */
    position: relative;
    /* font */
    font:600 50px var(--font-heading-s );
    /* text-styling */
    text-indent: 15px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: var(--color-blue-light);
    /* margin-padding */
    margin-left:20px;
    padding-top: 15px;
}
.parent section > h1::before ,
.parent section  > h1::after {
    content: '';
    position: absolute;
    top: 1em;
    height: 6px;
    background-color: blue;
}
.parent section > h1::before {
    /* position */
    left: 18px;
    /* width */
    width: 11em;
}
.parent section > h1::after {
    /* position */
    left: 62%;
    /* width */
    width: 10.1em;
}
/*--------------- Section_Heading(h1)_End------------------*/

/*------------------- Parent_Section-1_Start -----------*/
.parent .section-1{
    min-height:91.8vh;
}
/*----------- Parent_section-service_Start --------*/
.parent .section-1 .section-service{
    position: relative;
    min-height: 590px;    
    /*padding-margin*/
    padding-top: 30px;
    margin-bottom: 10px;
    /* d-flex*/
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    column-gap: 10px;
    flex-wrap: wrap;
} 
/* global-styling-card */
.cards {
    perspective: 1500px;
    /* width - height  */
    
    height: 550px;
    width: 350px;
    /* d-flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}
/* global-styling-label_Start */

.section-service .cards label  {
    order: 1;
    display: block;
    /* width-height */
    width: 210px;
    height: 65px;
    /* fonts */
    font:300 28px/2.1 var(--fontf_text_button); 
    /* border */
    border: 1px solid red;
    border-radius: 60px;
    /*text-styling*/
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    color: red ;
    /*transition*/
    transition: all .5s;
}
.section-service label:hover {
    /* background - color */
    background-color: red; 
    color: black;
    /* shadow-styling */
    box-shadow:  2px  2px  5px   rgb(171, 5, 5)         ,
                -2px -2px  5px   rgb(171, 5, 5)         , 
                 4px  4px 30px   rgba(255, 0, 0, 0.562) ,
                -4px -4px 30px   rgb(255, 0, 0 , 0.562) ;
    text-shadow: 3px 3px 8px black;
}
/* global-styling-label_Start */
/**************************************/
/*--------- global-setting-input_Start---------- */
.cards input {
    display: none;
}

.section-service input[type ="checkbox"]:checked + .service1 ,
.section-service input[type ="checkbox"]:checked + .service2 ,
.section-service input[type ="checkbox"]:checked + .service3 ,
.section-service input[type ="checkbox"]:checked + .service4 {
   transform: rotateY(180deg) ;
   transition: all 1s;
}
.section-service input[type ="checkbox"]:not(:checked) + .service1 ,
.section-service input[type ="checkbox"]:not(:checked) + .service2 ,
.section-service input[type ="checkbox"]:not(:checked) + .service3 ,
.section-service input[type ="checkbox"]:not(:checked) + .service4  {
    transform: rotateY(0deg) ;
    transition: all 1s;
}
/*--------- global-setting-input_End---------- */

/* items_start */
.section-1 .section-service .items {
    /* background - color*/
    transform-style: preserve-3d;
    transform-origin: center center;
    position: relative;
    color: black;
    padding: 10px;
    cursor: pointer;
    /* position */
    /* width - height */
    height: 400px;
    width: 350px;
    /* transform */
    transition: all .5s;
        
}
.section-1 .section-service .items:hover   h2::before{
    display: none;
}
.container .section-1 .section-service  .items  div{
    /* position */
    position: absolute;
    top: 0px;
    left: 0px;
    /* width - height */
    width: 100%;
    height: 100%;
    /* d-flex*/
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 5px;
}
.container .section-1 .section-service  .items .frond {
    border: #33fcde solid 2px;
}   
.parent .section-service img {
    width: 200px;
    height: 200px; 
}
.parent .section-service h2 {
    /* position */
    position: relative;
    /* fonts */
    font: 900 30px var(--font-nav-aside);
    /* text-styling */
    text-transform: uppercase;
    letter-spacing: 2px;
    color:var(--btn-blue-green-color);
}
.parent .section-service  h2::before {
    content: '';
    /* position*/
    position: absolute;
    left: 50%;
    top: 100%;
    /* width - height */
    width: 20px;
    height: 2px;
    background-color: red;
    /* animation */
    animation: w-style 2s ease 0s infinite;
    transform: translate(-50% , -50% );
}
@keyframes w-style {
    100% {
       width: 100%;
    }
}
.container .section-1 .section-service  .items .back {
    perspective:500px;
    background-color:var(--btn-blue-green-color);        
    transform: rotateY(180deg);
    position: absolute;
}
.parent .section-service p{
    /* fonts*/
    font: 400 25px var(--font-nav-aside);
    /* text-styling */
    text-align: center;
    color:black;   
    padding: 20px; 
    letter-spacing: 1px;
}
.section-1 .section-service .back button[type $="n"] {
    /* width - height */
    width: 200px;
    height: 60px;
    /* fonts */
    font: 22px var(--fontf_text_button);
    /* background - border */
    background-color: black;
    border: none;
    transition: all .5s;
}
.section-1 .section-service .back button[type $="n"]:hover {
    transform:translate3d(5px, 5px, 0px) scaleZ(1.8) rotate3d(1, 0.4, 0.1, 40deg);
    border: none;
}
.section-service  .back button[type $="n"] a {
    letter-spacing: 0.01px;
    text-decoration: none; 
    padding: 18px;
    transition: all .1s;
    font-weight: 300;
    }
.section-service  .back button[type $="n"] a:hover  {
    text-shadow: 2px 2px 5px  white;
    font-weight: 400;   
}
/* items_End */
/*-----------  section-service_End --------*/
/*------------------------------*/
/*----------- Container_section-1_End --------*/
         /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*----------- Container_section-2_Start --------*/
.parent .section-2{
    min-height:95vh;
    position: relative;
}

.parent .section-2 .contact {
    /* width - height*/
    width: 45%;
    height: 37em;
    /* margin - padding */
    margin: auto;
    padding: 25px 10px;
}
.contact form {
    /* position */
    position: relative;
    /* width - height */    
    width: 100%;
    height: 100%;
    /* d-flex */
    display: flex;
    flex-flow: row wrap;
    gap: 30px 10px;
  
}
.contact form div {
    position: relative;
    width: 100%;
}
.contact form div input {
    /* width - height */
    width: 100%;
    height: 60px;
    /* background - border */
    background-color: black;
    border: 1px solid #07FFDA;
    border-radius: 50px;
    /* text-styling */
    text-indent: 20px; 
    font-size: 28px;
    color: #FFFFFF;
}
.contact form div span {
    /* position */
    position: absolute;
    /* text-styling */
    text-transform: capitalize;
    color:#067d75ac;
    font: 25px  var(--font-nav-aside);
    pointer-events: none;
    transition: all .5s;
}
.contact form div input:focus {
    outline: none;
    caret-color: #33fcde;
}
.input-text {
   background-color: black;
}
.contact form div input[type ^="t"] {
    width: 49%;
    text-transform: capitalize;
}
.contact form div input[name ^="f"] {
  margin:0px 7px 0px 0px;
}
.contact form div input[name ^="f"] + span {
    top: 15px;
    left: 30px;
}
.contact form div input[name ^="l"] + span {
    left: 55%;
    top: 15px;
}
.contact form div input[name ^="f"]:where(:focus,:valid) + span , 
.contact form div input[name ^="l"]:where(:focus,:valid) + span{
    font-size: 20px;
    top: -15px;
    color: #07FFDA;
    background-color: black;
    padding: 0px 5px;
}
div input[type ='email'] + span {
    top: 15px;
    left: 30px;
}
div input[type ^='e']:where(:focus,:valid) + span { 
    font-size: 20px;
    top: -15px;
    color: #07FFDA;
    background-color: black;
    padding: 0px  5px;
}
.contact form div input[name ^='s'] {
    width: 100%;   
}

div input[name ^='s' ] + span { 
    top: 12px;
    left: 25px;
    font-size: 28px;
    padding: 0px  5px;

}
div input[name ^='s' ]:where(:focus,:valid) + span {
    top: -15px;
    font-size: 20px;
    background-color: black;
    padding: 0px 5px;  
    color: #07FFDA;    
}
.contact form div textarea[name ^='m'] {
     /* background - border */
     border-radius: 10px;
     background-color: black;
     border: solid 1px #07FFDA;
     /* padding */
     padding: 14px 0px 0px 0px;
     /* text-styling */
     text-indent: 10px;
     font-size: 25px;
     width: 100%;
     height: 8.5em;
}    
.contact form div textarea[name ^='m'] + span {
    left: 25px;
    top: 9px;
    /*rows="6" cols="47"*/
}
.contact form div textarea:focus {
    outline: none;
    caret-color: #33fcde;
}
.contact form div textarea[name ^='m']:focus + span {
    font-size: 20px;
    top: -17px;
    padding: 0px 5px;    
    background-color: #098078;
    color: black;    
}
.contact form div:last-child   {
    display: flex;
    height: 50px;
}
.contact form div:last-child button {
    /* width - height */
    height: 2.1em;
    width: 6.4em;
    margin: auto;
    /* text-styling */
    color: black;
    font:500 30px var(--fontf_text_button);
    transition: all .5s , font-weight 0s ;
    /* border - background */
    background-color: blue;
    border: none;
}
.contact form div:last-child button:hover {
    /* transform */
    scale: 1.1;
    font-weight: 600;
    cursor: pointer;
    /* border */
    border-radius: 55px;
    border: none;
    /* shadow-styling */
    box-shadow: 2px 2px 10px #0210a7, -2px -2px 10px  #0210a7;
    text-shadow: 2px 2px 5px rgb(7, 7, 137) ,  -2px -2px 5px rgb(7, 7, 137);
}
/*----------- Container_section-2_End --------*/

/*+++===+++===+++===+++===+++===+++===  Responsive_Media +++===+++===+++===+++===+++===+++===*/

/*-=-=-=-=-= Small_phones { 320px -----------------> 480px} -=-=-=-=-=-=-=*/
@media (min-width:320px) and (max-width:480px) {
::-webkit-scrollbar {
        display: none;
}
.container {
    min-height: 100vh;
}
header h1 {
        display: none;
}
header label {
    display: block;
}

header > ul {  
        background-color:#FFFFFF;   
       position:fixed;
       top: 60px;
       right: -30em;
       width: 100%;
       height: 17.6em;
       transition:.8s all;
       display:block;
       z-index: 1;
}
    
header > ul li {
        text-align: center ;
        font-size: 25px;
        font-family: var(--fontf-text);
        
} 
header > ul li a {
        color: black;
        display: block;
        padding: 20px 0px ;
        text-align: center;
        letter-spacing: 5px;
        text-decoration: none;
    }
ul li a.service {
        color: #0fc2a7;
        border-left: 5px solid #037973;
}
input:checked ~ ul {
        right: 0px;
}   

    /*------------------- Container_Header_End -------------------*/
    /*------------------------------------------------------------*/
    /*------------------- Container_parent_Start ------------------*/
.parent {
        min-height:150vh  ;
}
     /*--------------- Section_Heading(h1)_Start------------------*/
.parent section > h1  {
         /* font */
         font:600 45px var(--font-heading-s );
         /* text-styling */
         text-indent: 0px;
         text-align: center;
         text-transform: capitalize;
         letter-spacing: 2px;
         color: var(--color-blue-light);
         /* margin-padding */
         margin-left:0px;
         padding-top: 10px;
}
.parent section > h1::before ,
.parent section  > h1::after {
        display: none;
}
 /*--------------- Section_Heading(h1)_End------------------*/
/*------------------- Parent_Section-1_Start -----------*/
.parent .section-1{
    min-height:91.8vh;
}
/*----------- Parent_section-service_Start --------*/
.parent .section-1 .section-service{
    
    /*padding-margin*/
    padding-top: 20px;
    margin-bottom: 10px;
    /* d-flex*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5px;
} 
/* global-styling-card */
.cards {
    perspective: 1500px;
    /* width - height  */
    height: 550px;
    width: 100%;
    /* d-flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}
.section-service .cards label {
    background-color: red; 
    color: black;
    /* shadow-styling */
    box-shadow:  2px  2px  5px   rgb(171, 5, 5)         ,
                -2px -2px  5px   rgb(171, 5, 5)         , 
                 4px  4px 30px   rgba(255, 0, 0, 0.562) ,
                -4px -4px 30px   rgb(255, 0, 0 , 0.562) ;
    text-shadow: 3px 3px 8px black;   
}
.parent .section-service  h2::before {
   display: none;
}
/* items_start */
.section-1 .section-service .items {
    /* width - height */
    height: 380px;
    max-width: 87%;
        
}
.parent .section-service h2 {
    /* fonts */
    font: 900 28px var(--font-heading);
    /* text-styling */
    letter-spacing: 0px;
}
.parent .section-service img {
    width: 190px;
    height: 190px; 
}
/* items_End */
/*-----------  section-service_End --------*/
/*------------------------------*/
/*----------- Container_section-1_End --------*/
         /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*----------- Container_section-2_Start --------*/
.parent .section-2{
    min-height:95vh;
    position: relative;
}
.parent .section-2 .contact {
    /* width - height*/
    width: 90%;
    min-height: 46em;
    /* margin - padding */
    margin: 15px auto 0px;
    padding: 10px 5px;
}
.contact form {
    height: 45em;
    /* d-flex */
    display: flex;
    flex-flow: column wrap;
    gap: 35px 10px;
}

.input-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
 .contact form div span {
    font: 28px  var(--font-nav-aside);
}
.contact form div input[type ^="t"] {
    width: 100%;
}
.contact form div input[name ^="l"] + span {
    left: 30px;
    top: 100px;
}
.contact form div input[name ^="l"]:where(:focus,:valid) + span{
    font-size: 20px;
    top: 75px;

}
div input[name ^='e' ]:where(:focus,:valid) + span , 
div input[name ^='s' ]:where(:focus,:valid) + span {
    font-size: 20px;
} 
.contact form div:last-child button {
    /* width - height */
    width: 6em;
    /* text-styling */
    font:400 30px var(--fontf_text_button);
    /* border */
    border-radius: 55px;
    border: none;
    /* shadow-styling */
    box-shadow: 2px 2px 10px #0210a7, -2px -2px 10px  #0210a7;
    text-shadow: 2px 2px 5px rgb(7, 7, 137) ,  -2px -2px 5px rgb(7, 7, 137);
}
.contact form div:last-child button:hover {
    scale: 1;
}
}

         /*-=-=-=-=-= Medium_phones { 481px -----------------> 767px} -=-=-=-=-=-=*/
@media (min-width:481px) and (max-width:768px) {
    ::-webkit-scrollbar {
        display: none;
}

header h1 {
    font: 800  40px var(--fontf_special_heading);
}
header label {
    display: block;
}

header > ul {  
        background-color:#FFFFFF;   
       position:fixed;
       top: 60px;
       right: -50em;
       width: 100%;
       height: 17.6em;
       transition:.8s all;
       display:block;
       z-index: 1;
}
    
header > ul li {
        text-align: center ;
        font-size: 25px;
        font-family: var(--fontf-text);
        
} 
header > ul li a {
        color: black;
        display: block;
        padding: 20px 0px ;
        text-align: center;
        letter-spacing: 5px;
        text-decoration: none;
    }
ul li a.service {
        color: #0fc2a7;
        border-left: 5px solid #037973;
}
input:checked ~ ul {
        right: 0px;
}   

    /*------------------- Container_Header_End -------------------*/
    /*------------------------------------------------------------*/
    /*------------------- Container_parent_Start ------------------*/
.parent {
     min-height:150vh  ;
     overflow-x: hidden;
}
     /*--------------- Section_Heading(h1)_Start------------------*/
.parent section > h1  {
        /* font */
        font:600 45px var(--font-heading-s );
        /* text-styling */
        text-indent: 0px;
        letter-spacing: 2px;
        color: var(--color-blue-light);
        /* margin-padding */
        margin-left:0px;
        padding-top: 10px;
}   
.parent section > h1::before ,
.parent section  > h1::after {
        display: none;
}
 /*--------------- Section_Heading(h1)_End------------------*/
 .section-service .cards label {
    background-color: red; 
    color: black;
    /* shadow-styling */
    box-shadow:  2px  2px  5px   rgb(171, 5, 5)         ,
                -2px -2px  5px   rgb(171, 5, 5)         , 
                 4px  4px 30px   rgba(255, 0, 0, 0.562) ,
                -4px -4px 30px   rgb(255, 0, 0 , 0.562) ;
    text-shadow: 3px 3px 8px black;   
}
/*-----------  section-service_End --------*/
/*------------------------------*/
/*----------- Container_section-1_End --------*/
         /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*----------- Container_section-2_Start --------*/
.parent .section-2{
    position: relative;
}
.parent .section-2 .contact {
    /* width - height*/
    width: 90%;
    min-height: 46em;
    /* margin - padding */
    margin: 15px auto;
    padding: 10px 5px;
}
.contact form {
    height: 45em;
    /* d-flex */
    display: flex;
    flex-flow: column wrap;
    gap: 35px 10px;
}

.input-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
 .contact form div span {
    font: 28px  var(--font-nav-aside);
}
.contact form div input[type ^="t"] {
    width: 100%;
}
.contact form div input[name ^="l"] + span {
    left: 30px;
    top: 100px;
}
.contact form div input[name ^="l"]:where(:focus,:valid) + span{
    font-size: 20px;
    top: 75px;

}
div input[name ^='e' ]:where(:focus,:valid) + span , 
div input[name ^='s' ]:where(:focus,:valid) + span {
    font-size: 20px;
} 
.contact form div:last-child button {
    /* width - height */
    width: 6em;
    /* text-styling */
    font:400 30px var(--fontf_text_button);
    /* border */
    border-radius: 55px;
    border: none;
    /* shadow-styling */
    box-shadow: 2px 2px 10px #0210a7, -2px -2px 10px  #0210a7;
    text-shadow: 2px 2px 5px rgb(7, 7, 137) ,  -2px -2px 5px rgb(7, 7, 137);
}
.contact form div:last-child button:hover {
    scale: 1;
}
}
/* ===================== Tablets_Devices [768px – 1280px] ===================== */
        /*-=-=-=-=-=-=-=-=   Portrait mode { 768px -----------------> 1024px}    -=-=-=-=-=-=-=*/
@media (min-width:768px) and (max-width:1024px) {
            /* scroll-bar */
::-webkit-scrollbar {
     display: none;
}
.container {
     min-height: 100vh;
}
header label {
    display: block;
}       
header > ul {  
    background-color:#FFFFFF;   
    position:fixed;
    top: 60px;
    right: -65em;
    width: 100%;
    height: 17.6em;
    transition:.8s all;
    display:block;
    z-index: 1;
}            
header > ul li {
    text-align: center ;
    font-size: 25px;
    font-family: var(--fontf-text);
                
} 
header > ul li a {
    color: black;
    display: block;
    padding: 20px 0px ;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: none;
}
ul li a.service {
    color: #0fc2a7;
    border-left: 5px solid #037973;
}
input:checked ~ ul {
    right: 0px;
}   
    /*------------------- Container_Header_End -------------------*/
    /*------------------------------------------------------------*/
     /*------------------- Container_parent_Start ------------------*/
.parent {
        min-height:150vh  ;
}
        /*--------------- Section_Heading(h1)_Start------------------*/
.parent section > h1  {
        /* font */
        font:600 45px var(--font-heading-s );
        /* text-styling */
        text-indent: 0px;
        letter-spacing: 2px;
        color: var(--color-blue-light);
        /* margin-padding */
        margin-left:0px;
        padding-top: 10px;
}   
.parent section > h1::before ,
.parent section  > h1::after {
        display: none;
}
    /*--------------- Section_Heading(h1)_End------------------*/
.section-service .cards label {
       background-color: red; 
       color: black;
       /* shadow-styling */
       box-shadow:  2px  2px  5px   rgb(171, 5, 5)         ,
                   -2px -2px  5px   rgb(171, 5, 5)         , 
                    4px  4px 30px   rgba(255, 0, 0, 0.562) ,
                   -4px -4px 30px   rgb(255, 0, 0 , 0.562) ;
       text-shadow: 3px 3px 8px black;   
}
.parent .section-2 .contact {
    width: 80%;
    height: 39em;
}
}

/*-=-=-=-=-=-=-=-=   Landscape mode: { 1024px -----------------> 1280px}    -=-=-=-=-=-=-=*/
@media (min-width:1025px) and (max-width:1280px) {
.container {
    background-color: var(--bgcolor);
}
.parent section > h1::before ,
.parent section  > h1::after {
        display: none;
}
 /*--------------- Section_Heading(h1)_End------------------*/
.parent .section-2 .contact {
    width: 80%;
    height: 39em;
}
}     

 /*~---------------------------------   Finished!    ---------------------------------~*/
